{% load staticfiles  %}

<!DOCTYPE html>
<html>
<head>
	<title>tirumala reddy</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/basestyles.css' %}">
</head>
<body>

	<header class="jumbotron text-center">
		<h1><a href="{% url 'home' %}">My personal blog</a></h1>
	</header>

<div class="container">



	{% if user.is_authenticated %}

	<p> you are logged in</p>
	<p>Hey there: {{user.username}} <kbd>hello</kbd> <kbd>namaskar</kbd> <kbd>onakkam</kbd> </p>
	<p>please <a href="{% url 'logout' %}">Logout</a>here</p>



	{% else %}
	<p>you are not logged in make sure to logged in </p>
	<p>please <a href="{% url 'login' %}">Login</a>here</p>
	{% endif %}

	{% block content %}
	{% endblock %}


</div>


<div class="jumbotron">
	<footer class="text-center">
		this is the blog of tirumala reddy
	</footer>
</body>
</html>
