{% extends 'nav.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
	<title>contact</title>
		<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no">
	<!--<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron">
  <header class="container text-center">
    <h1>THIRUMALA REDDY</h1>
    <p>tiru is so simple,he is more intrest in sprititual and  he is daily worshiping to god for his life time achivement </p>
  </header>
</div>

<div class="container">
<h1 style="background-color:#f2f2f2;text-align:center">Contact Information</h1><br>
<h2>Address</h2><br>
<pre>
	Reddy vari palli
	vepuri kota post
	mulakala cheruvu mandal
	chittoor district
	andhra pradesh
	pin-517351</pre><br>
<h2>Contact Numbers</h2><br>
<pre>
	Mobile number:9177034269
	8686899349
</pre><br>
<h3>Contact Email</h3>
<pre>
	thirumalareddy797@gmail.com
	thirumalareddy301@gmail.com
	thirumalareddy3416@gmail.com
</pre>
</div>
<br>
<div class="jumbotron">
<footer class="container text-center">
friends are calling like this<br>
<kbd>tiru</kbd>  <kbd>thirums</kbd>  <kbd>tirumala</kbd> <kbd>reddy</kbd> <kbd> ttd</kbd> <kbd>7 hills</kbd>
<kbd>thirumala reddy</kbd>
</footer>
</div>
</body>
</html>

{% endblock %}
